body{ 
  background-color: #D45937; 
}

.board-tile {
  height: 50px;
  width: 25px;
}

.div-active-na{
  background-image:url('../../images/red-ninja-1.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 96px;
  height: 150px;
  display: inline-block;
  margin: .5px 2.5px;
  z-index: 999;
}

.div-active-nb{
  background-image:url('../../images/yellow-ninja-1.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 96px;
  height: 150px;
  display: inline-block;
  margin: .5px 2.5px;
  z-index: 0;
}

.div-inactive{
  width: 19px; 
  border: 1px solid black;
  height: 45px;
  display: inline-block;
  margin: .5px 2.5px;
}
