h4{
  color: white;
  font-family: 'Aldrich', sans-serif;

}

.outer-paper {
  margin-top: 0px;
  margin: auto;
  width: 100%;
}

.game-bg{
  width: 97%;
  height: 700px;
  margin-left: 0px;
  padding-left: 0px ;
  background-image: url('../../images/bg-game.png');
  background-position-x: -250px;
  background-position-y: -100px;
}
